DirectoryTree {
    width: auto;
    scrollbar-size: 1 1;
    dock: left;
}

#md {
    width: 100%;
}

#title {
    width: 100%;
    align: center top;
}

ScrollableContainer {
    scrollbar-gutter: auto;
    scrollbar-size: 1 1;
}

#scrollable_markdown {
    width: 100%
}

#markdown {
    height: auto;
}
#backlinks {
    width: 100%;
}

TextArea {
    width: 100%;
    scrollbar-size: 1 1;
    scrollbar-size-vertical: 1;
}

#footer {
    dock: bottom;
}