DirectoryTree {
    width: auto;
    scrollbar-size: 1 1;
    dock: left;
}

#md {
    width: 50%;
#    dock: right;
    scrollbar-gutter: stable;
    scrollbar-size: 1 1;
}

Markdown {
    width: 100%;
    height: 1fr;
    height: auto;
}
TextArea {
    width: 100%;
    scrollbar-size: 1 1;
}