DirectoryTree {
    width: auto;
    scrollbar-size: 1 1;
    dock: left;
}

#md {
    width: 50%;
}

ScrollableContainer {
    scrollbar-gutter: stable;
    scrollbar-size: 1 1;
}

#markdown {
    width: 100%;
    height: 1fr;
    height: auto;
}
TextArea {
    width: 100%;
    scrollbar-size: 1 1;
    scrollbar-size-horizontal: 1;
}

#title {
    align: center middle;
}

#footer {
    dock: bottom;
}